<template>
    <v-container fluid>
        <v-col class="d-flex" cols="12" sm="6">
            <v-select
                    :items="genresArray"
                    label="Filter by genres"
                    @change="filterByGenres"
                    clearable
                    @click:clear="clearFilter"
            ></v-select>
        </v-col>
        <v-row v-if="!loading" dense justify="space-between">
            <v-card class="d-inline-block pa-2 ma-2 mx-auto"
                    max-width="400"
                    elevation="5"
                    v-for="film in films"
                    :key="film.id">
                 <div class="overline">

                 </div>
                <v-card-title primary-title>
                    <h3>{{film.original_title}}</h3>
                </v-card-title>
                <v-img v-if="film.poster_path"
                        height="140px"
                        width="auto"
                        :src="(`https://image.tmdb.org/t/p/w500${film.poster_path}`)"
                />
                <v-card-text>
                    {{film.overview}}
                </v-card-text>
                <v-card-actions>
                    <movie-modal :movieId="film.id"></movie-modal>
                </v-card-actions>
            </v-card>
        </v-row>
        <v-container v-else>
            <v-layout row>
                <v-flex xs12 class="text-center mt-12 pt-12 progress-container">
                    <v-progress-circular
                            :size="70"
                            :width="2"
                            color="primary"
                            indeterminate
                    ></v-progress-circular>
                </v-flex>
            </v-layout>
        </v-container>
    </v-container>
</template>

<script>
    /* eslint-disable no-console */

    import { mapGetters } from 'vuex'
    export default {
        name: "Home",
        data() {
            return {};
        },
        computed: {
            ...mapGetters([
                'loading',
                'films',
                'genres'
            ]),
            genresArray(){
                let arr = []
                Object.keys(this.genres).forEach(key => {
                    arr.push({
                        text: this.genres[key].name,
                        value: this.genres[key].id
                    })
                })
                return arr
            }
        },
        methods: {
            filterByGenres(val){
                if (val) {
                    this.$store.dispatch('getMoviesByGenre', val)
                } else {
                    this.clearFilter()
                }
            },
            clearFilter(){
                this.$store.dispatch('getFilms')
            }
        },
    }
</script>

<style scoped>

</style>