<template>
    <v-dialog width="500" v-model="modal">
        <template v-slot:activator="{ on }">
            <v-btn v-on="on" @click="getMoviesData">
                more
            </v-btn>
        </template>
        <v-card>
            <v-container>
                <v-layout row>
                    <v-flex xs12>
                        <v-card-title>
                            <span class="title--primary">{{movie.original_title}}</span>
                        </v-card-title>
                        <v-card-subtitle class="pb-0">
                            <small>{{movie.tagline}}</small>
                        </v-card-subtitle>
                    </v-flex>
                </v-layout>
                <v-img
                        class="d-block ma-auto"
                        height="auto"
                        width="200"
                        :src="(`https://image.tmdb.org/t/p/w500${movie.poster_path}`)"
                />
                <v-layout row>
                    <v-flex xs12>
                        <v-card-subtitle class="pb-0">
                            <small><b>Rating: </b>{{movie.vote_average}}/10 ({{movie.vote_count}} votes)</small>
                        </v-card-subtitle>
                        <v-card-subtitle class="pt-0 pb-0">
                            <small>Release date: {{movie.release_date}}</small>
                        </v-card-subtitle>
                        <v-card-subtitle class="pt-0 pb-0">
                            <small>Budget: {{movie.budget}}</small>
                        </v-card-subtitle>
                        <v-card-subtitle class="pt-0 pb-0">
                            <small>Genres:
                                <span class="pr-1" v-for="genre in movie.genres" :key="genre.id">{{genre.name}}</span>
                            </small>
                        </v-card-subtitle>
                    </v-flex>
                </v-layout>
                <v-layout row>
                    <v-flex xs12>
                        <v-card-text>
                            {{movie.overview}}
                        </v-card-text>
                    </v-flex>
                </v-layout>
                <v-layout row>
                    <v-flex xs12>
                        <v-card-actions>
                            <v-button>
                                <a target="_blank" :href="(`https://www.themoviedb.org/movie/${movie.id}`)">See on
                                    TheMovieDB</a>
                            </v-button>
                            <v-spacer></v-spacer>
                            <v-button v-if="movie.homepage">
                                <a target="_blank" :href="movie.homepage">Visit Movie's Homepage</a>
                            </v-button>
                        </v-card-actions>
                    </v-flex>
                </v-layout>
                <v-layout row v-for="video in moviesVideos" :key="video.id">
                    <v-flex xs12>
                        <div class="video-holder">
                            <iframe class="video-player" width="auto" height="auto" :src="(`https://www.youtube.com/embed/${video.key}`)" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card>
    </v-dialog>
</template>

<script>
    /* eslint-disable no-console */

    import { mapGetters } from 'vuex'
    export default {
        name: "MovieModal",
        props: ['movieId'],
        computed: {
            ...mapGetters([
                'movie',
                'moviesVideos'
            ]),
        },
        methods: {
            getMoviesData(){
                this.$store.dispatch('getMoviesData', this.movieId)
                this.$store.dispatch('getMoviesVideos', this.movieId)
            },
        },
    }
</script>

<style lang="less" scoped>
.video-holder{
    display: block;
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
    .video-player{
        background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100% 100%"><text fill="%23A5A5A5" x="50%" y="50%" font-family="\'Lucida Grande\', sans-serif" font-size="24" text-anchor="middle">LOADING VIDEO</text></svg>') 0px 0px no-repeat;
    }
}
</style>